@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
  
.header {
    background-color: #942434; 
    padding: 30px; 
    text-align: center
}

.header img {
    max-width: 100%;
    height: auto;
    width: 151px;
}

.main {
    background-color: #f1e5df;
    color: #942434;
    float: left;
    width: 100%;
    padding: 50px 20px;
    text-align: center;
}

button {
    font-size: 18px;
    border-color: #942434;
    border-width: 3px;
    border-style: solid;
    width: 300px;
    border-radius: 7px;
    height: 50px;
    transition: .5s;
    background-color: #942434;
    color: #f1e5df;
}

button:hover {
    transition: .5s;
    background-color: #831727;
    cursor: pointer
    
}

.footer {
    background-color: #942434;
    color: #f1e5df;
    text-align: center;
    padding: 10px;
}

.leftfooter {
    text-align: left;
    margin-top: 40px;
    margin-left: 740px;
}

.righfooter {
    text-align: left;
    display: flex;
    margin-top: 40px;
    margin-left: 740px;
}

.righfooter img {
    width: 123px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-dodge;
}

@media only screen and (max-width: 1250px) {
    .menu, .main {
        width: 100%;
    }
    .leftfooter {
        margin-top: 40px;
        margin-left: 0;
    }
    .righfooter {
        margin-left: 0;
        aspect-ratio: 1/0;
    }
}